@font-face {
   font-family: "Kodchasan-Bold";  
   src: url("../assets/fonts/Kodchasan-Bold.ttf");
}
@font-face {
   font-family: "Kodchasan-Medium";  
   src: url("../assets/fonts/Kodchasan-Medium.ttf");
}
@font-face {
   font-family: "Kodchasan-SemiBold";  
   src: url("../assets/fonts/Kodchasan-SemiBold.ttf");
}
