@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --KB: "Kodchasan-Bold", sans-serif;
    --KM: "Kodchasan-Medium", sans-serif;
    --KBS: "Kodchasan-SemiBold", sans-serif;
}
a{
    text-decoration: none;
}
h1, h2, h3, p, a{
    font-style: normal;
}
.header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;
}
.head-navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.head-menu li{
    display: inline-flex;

}
.head-menu li a{
    text-decoration: none;
    font-family: var(--KM);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.head-menu li a:hover{
    font-family: var(--KB);
    font-weight: 700;
}
.head-nav{
    max-width: 415px;
    width: 100%;
}
.head-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.head-img{
    margin-left: 177px;
}
.main-banner{
    width: 100%;

    background: linear-gradient(197deg, rgb(255 169 59 / 79%) 0%, rgba(255,169,59,0.8995973389355743) 30%, rgba(255,157,45,1) 100%, rgba(255,159,48,1) 100%), url(../assets/img/honey-banner.svg) no-repeat center;
    border-radius: 30px;
    background-size: contain;
    display: flex;
    gap: 15%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 102px 0;
}
.banner-left{
    max-width: 410px;
    width: 100%;
}

.banner-right {
    width: 46%;
}
.right-img{
    width: 100%;
}
.banner-title{
    font-family: var(--KB);
    font-weight: 700;
    font-size: 100px;
    color: #0B0B0B;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.banner-title span{
    text-align: end;
}
.buttom{
    max-width: 419px;
    width: 100%;
    height: 65px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.buttom a{
    border: 1px solid #000000;
    font-family: var(--KB);
    font-weight: 700;
    font-size: 18px;
    color:  #000000;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.buttom a:hover{
    color:  #fff;
    background: #000000;
}
.partners{
    margin-top: 130px;
    padding-left: 177px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.partners-title{
    font-family: var(--KB);
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 50px;

}
.partners-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
    flex-wrap: wrap;
}
.honey{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.block-top{
    justify-content: flex-end;
}

.block-text{
    max-width: 548px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.block-text h2{
    font-family: var(--KB);
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    color: #000000;
}
.block-text p{
    font-family: var(--KBS);
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 50px;
}
.block-text a{
    max-width: 184px;
    width: 100%;
    font-family: var(--KB);
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 40px;
    background: #E68311;
    flex-wrap: wrap;
} 
.block-bottom{
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0;
}
.block-top, .block-bottom{
    display: flex;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;
}
.block-top{
    justify-content: flex-end;
}
.block-bottom{
    justify-content: flex-start;
}
.bottom{
    margin: 0;
}
.our-product{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.product-title{
    max-width:1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.product-block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    flex-wrap: wrap;
}
.produc-block-text{
    max-width: 566px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fdf6ee;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 30px;
    flex-wrap: wrap;
}
.produc-block-text h3{
    font-family: var(--KBS);
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #000000; 
}
.produc-block-text p{
    font-family: var(--KBS);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    opacity: 0.7;
}
.produc-block-text a{
    max-width: 140px;
    width: 100%;
    font-family: var(--KB);
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #E58211;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.left-block-text{
    max-width: 302px;
    width: 100%;
}
.right-block-text{
    max-width: 324px;
    width: 100%;
}
.left-block-text
.honey-miel{
    max-width: 234px;
    width: 100%;
}
.honey-basswood{
    max-width: 103px;
    width: 100%;
    margin-right: 40px;
}
.product-title h2{
    font-family: var(--KB);
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}
.product-title a{
    font-family: var(--KB);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #E58211;
}
.footer{
    height: 137px;
    margin-top: 130px;
    background: linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
}
.footer-basis{
    max-width: 1139px;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-tagline{
    max-width: 269px;
    width: 100%;
    font-family: var(--KM);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
    opacity: 0.7;
}
.social{
    max-width: 196.52px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.social ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.app{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 1500px){
    .partners{
        padding-left: 0;
    }
}
@media (max-width: 1436px){
    .block-top, .block-bottom{
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 60px;
    }
    .block-text{
        align-items: center;
    }
    
}
@media (max-width: 1140px){
    .main-banner{
        gap: 7%;
    }
    .banner-title{
        font-size: 85px;
    }
}
@media (max-width: 1038px){
    .banner-title{
        font-size: 70px;
    }
}
@media (max-width: 936px){
    .main-banner{
        gap: 1%;
    }
    .banner-title{
        font-size: 50px;
        align-items: center;
        margin: 0;
    }
    .partners-list{
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }
    .partners{
        align-items: center;
        gap: 30px;
    }

}
@media (max-width: 864px){
    .main-banner{
        padding: 80px 0;
        flex-direction: column-reverse;
    }
    .block-img{
        width: 100%;
    }
    .footer-basis{
        flex-direction: column;
        gap: 30px;
    }
    .footer{
        height: auto;
        padding: 54px 0;
        
    }
    .head-img{
        margin: 0;
    }
}
@media (max-width: 595px){
    .produc-block-text{
        gap: 30px;
        flex-direction: column;
        
    }
    .left-block-text, .right-block-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 557px){
    .head-navbar{
        gap: 20px;
        flex-direction: column;
    }  
}
@media (max-width: 481px){
    .buttom{
        height: 50px;
        margin-top: 50px;
        gap: 20px;
        justify-content: center;
    }
    .buttom a{
        width: 40%;
    }
    .main-banner{
        padding: 102px 0;
    }
    .partners-title{
        text-align: center;
    }
}
@media (max-width: 374px){
    .app{
        flex-direction: column;
        align-items: center;
    }
    .product-title h2{
        text-align: center;
    }
    .block-text{
        flex-direction: column;
        align-items: center;
        
    }
    .honey{
        flex-wrap: nowrap;
    }
    .product-title{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}